   <nav class="navbar navbar-expand-lg bg-yellow sticky-top navbar-light p-3 shadow-sm " >
      <div class="container">
        <a class="navbar-brand" href="#"><img src="img/logo.png" alt="" style="height: 53px;width: 225px;" srcset=""> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
       
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="#">About</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="/login">logout</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-cart-shopping me-1"></i> Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i> <%= user.username %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>