a {
      font-size:14px;
      font-weight:700
    }
    .superNav {
      font-size:13px;
    }
    .form-control {
      outline:none !important;
      box-shadow: none !important;
    }
    @media screen and (max-width:540px){
      .centerOnMobile {
        text-align:center
      }
    }
    nav a{
        color:white !important;
    }
    nav{
    
    z-index: 1;
    opacity: 1;
    background-color: rgb(1, 73, 102);
    }



    .show-window{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}